@import "../../assets/style/index.scss";

.aboutContainer {
  margin: 38px 100px;
  flex: 1;
  @include display-style();
  flex-direction: column;
  .collapse {
    margin: 30px 108.5px 0;
    max-width: 1023px;
  }
}

@media (max-width: 768px) {
  .aboutContainer {
    margin: 19px 20px;
    max-width: 335px;
    & .bannerContainer {
      height: 223px;
      & img {
        height: 223px;
      }
    }
    .collapse {
      margin: 20px 0 0;
    }
  }
}
