@import "../../assets/style/index.scss";

.aboutContainer,
#root {
  flex-grow: 1;
}

.aboutContainer {
  margin: 38px 45px;
}

@media (max-width: 768px) {
  .aboutContainer {
    margin: 19px;
    margin-bottom: 0;
    & .bannerContainer {
      margin-bottom: 19px;
      height: 223px;
      width: 100%;
      & img {
        height: 223px;
      }
    }
  }
}
