@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1440px;
}

$color-principale: #ff6060;
$footer-bg-color: black;
$color-text: white;
$color-bg-gallery: #f6f6f6;

@mixin display-style {
  display: flex;
  align-items: center;
}

.navContainer {
  @include display-style();
  justify-content: space-between;
  margin: 45px;
}

.navHeader {
  ul {
    @include display-style();
    gap: 57px;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-size: 24px;
    color: $color-principale;
  }
}

.nav-active {
  border-bottom: 1px solid $color-principale;
}

.footerContainer {
  position: sticky;
  @include display-style();
  flex-direction: column;
  background-color: $footer-bg-color;
  color: $color-text;
  text-align: center;
  height: 209px;

  img {
    margin-top: 66px;
    margin-bottom: 50px;
  }
}
