@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body,
#root {
  display: flex;
  flex-direction: column;
}

$color-principale: #ff6060;
$footer-bg-color: black;
$color-text: white;
$color-bg-gallery-collapse: #f6f6f6;

@mixin display-style {
  display: flex;
  align-items: center;
}

.navContainer {
  @include display-style();
  justify-content: space-between;
  margin: 45px 50px 0;
}

.navHeader {
  & ul {
    @include display-style();
    gap: 57px;
    padding: 0;
  }

  & a {
    text-decoration: none;
    font-size: 24px;
    color: $color-principale;
  }
}

.nav-active {
  border-bottom: 1px solid $color-principale;
}

.footerContainer {
  @include display-style();
  flex-direction: column;
  background-color: $footer-bg-color;
  color: $color-text;
  text-align: center;
  height: 209px;
  & img {
    margin-top: 66px;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .navContainer {
    margin: 20px;
    & img {
      height: 47px;
    }

    & ul {
      gap: 26px;
      & a {
        font-size: 12px;
      }
    }
  }

  .footerContainer {
    & img {
      margin-bottom: 15px;
    }
    p {
      font-size: 12px;
      width: 133px;
    }
  }
}
