@import "../../assets/style/index.scss";

.accommodationContainer,
#root {
  flex-grow: 1;
}

.accommodationContainer {
  margin: 50px 45px;
}

.infoContainer {
  margin-top: 30px;
  & h2 {
    font-size: 36px;
    color: $color-principale;
  }
  .headerContainer {
    @include display-style();
    justify-content: space-between;
  }
  & h3,
  p,
  li {
    font-size: 18px;
    font-weight: 400;
  }
  & img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 64px;
  }
  & .hostContainer {
    @include display-style();
    flex-direction: column;
    gap: 21px;
    align-items: flex-end;
    .host {
      @include display-style();
      text-align: end;
    }
    & p {
      width: 93px;
      padding-right: 10px;
    }
  }
  & .collapse {
    width: 100%;
    margin: 0;
  }
  .collapseContainer {
    @include display-style();
    gap: 76px;
    align-items: flex-start;
  }
  & .tags {
    @include display-style();
    margin-top: 20px;
    margin-bottom: 24px;
    gap: 10px;
  }
}
