@import "../../assets/style/index.scss";

.accommodationContainer,
#root {
  flex-grow: 1;
}

.accommodationContainer {
  margin: 50px 45px;
  & img {
    border-radius: 25px;
    height: 415px;
    width: 100%;
    object-fit: cover;
  }
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  & h2 {
    font-size: 36px;
    color: $color-principale;
  }
  & h3,
  p {
    font-size: 18px;
    color: $color-principale;
  }
  & img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 64px;
  }
  & .hostContainer {
    @include display-style();
    justify-content: flex-end;
    text-align: right;
    & p {
      width: 93px;
      padding-right: 10px;
    }
  }
  & .collapse {
    margin: 0;
    gap: 76px;
  }
}
