@import "../../assets/style/index.scss";

.rateContainer {
  @include display-style();
  height: 36px;
  width: 196px;
  justify-content: space-between;
  & .iconStar {
    height: 36px;
    width: 36px;
  }
}

@media (max-width: 768px) {
  .rateContainer {
    width: 98px;
    height: 18px;
    & .iconStar {
      height: 18px;
      width: 18px;
    }
  }
}
