@import "../../assets/style/index.scss";

.homeContainer {
  margin: 50px;
  @include display-style();
  flex-direction: column;
  gap: 45px;
  @media (max-width: 768px) {
    margin: 20px;
    gap: 20px;
  }
}

.galleryContainer {
  @include display-style();
  flex-wrap: wrap;
  background-color: $color-bg-gallery;
  height: 829px;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 56px;
  justify-content: space-around;
  gap: 50px;
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0;
    flex-wrap: nowrap;
    gap: 20px;
    height: auto;
  }
  & .accomodations {
    @include display-style();
    flex-direction: column;
    background-color: $color-principale;
    height: 340px;
    width: 29%;
    border-radius: 10px;
    justify-content: end;
    @media (max-width: 768px) {
      width: 100%;
    }
  //   & h3 {
  //     color: $color-text;
  //     font-size: 18px;
  //   }
  }
}

