@import "../../assets/style/index.scss";

.mainHome {
  margin: 45px;
  @include display-style();
  flex-direction: column;
  gap: 45px;
}

.headerHome {
  @include display-style();
  justify-content: center;
  background: url(../../assets/images/bgMain.png) center/cover
    rgba(0, 0, 0, 0.3);
  height: 223px;
  border-radius: 25px;
  width: 100%;
  h1 {
    font-size: 48px;
    color: $color-text;
  }
}

.galleryContainer {
  @include display-style();
  flex-wrap: wrap;
  background-color: $color-bg-gallery;
  height: 829px;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  padding: 45px;
  align-content: space-between;
  justify-content: space-around;
  .accomodations {
    @include display-style();
    flex-direction: column;
    background-color: $color-principale;
    height: 340px;
    width: 29%;
    border-radius: 10px;
    justify-content: end;
    article {
      height: 100%;
      width: 100%;
    }
    h3 {
      color: $color-text;
      font-size: 18px;
    }
  }
}
