@import "../../assets/style/index.scss";

.collapse {
  margin: 30px 200px 0;
  .collapseHeader {
    @include display-style();
    justify-content: space-between;
    color: $color-text;
    background-color: $color-principale;
    padding: 10px 15px;
    border-radius: 5px;
    h2 {
      color: $color-text;
      font-size: 24px;
    }
  }
  .fa-chevron-up {
    transform: rotate(0);
    transition: transform 0.5s;
    cursor: pointer;
    &.rotated {
      transform: rotate(-180deg);
    }
  }
  .content {
    height: 0;
    border-radius: 0 0 5px 5px;
    color: $color-principale;
    background-color: $color-bg-gallery-collapse;
    transition: transform 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
    p,
    ul {
      padding: 20px;
    }
    &.animate {
      height: auto;
      transform: scaleY(1);
    }
  }
}
