@import "../../assets/style/index.scss";

.collapse {
  border-radius: 5px;
  margin: 30px 200px 0;
  &.collapsed .collapse-content {
    display: none;
  }
  &.collapsed .fa-chevron-up {
    transform: rotate(0);
  }
  .fa-chevron-up {
    transition: transform 0.5s;
    transform: rotate(-90deg);
    cursor: pointer;
  }
  .collapse-content {
    border-radius: 0 0 5px 5px;
    padding: 10px;
    color: $color-principale;
    background-color: $color-bg-gallery-collapse;
    font-size: 18px;
    height: auto;
  }
  .collapseHeader {
    @include display-style();
    justify-content: space-between;
    color: $color-text;
    background-color: $color-principale;
    padding: 10px 15px;
    border-radius: 5px;
    h2 {
      color: $color-text;
      font-size: 24px;
    }
  }
}
