@import "../../assets/style/index.scss";

.carouselContainer {
  position: relative;
  & .pictureCarousel {
    border-radius: 25px;
    height: 415px;
    width: 100%;
    object-fit: cover;
  }
  & .fa-chevron-left,
  .fa-chevron-right {
    cursor: pointer;
    position: absolute;
    height: 79.2px;
    width: 46.68px;
  }
  & .fa-chevron-left {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 23px;
  }
  & .fa-chevron-right {
    top: 0;
    bottom: 0;
    margin: auto;
    right: 23px;
  }
}
