@import "../../assets/style/index.scss";

.carouselContainer {
  position: relative;
  max-width: 1240px;
  & .pictureCarousel {
    border-radius: 25px;
    height: 415px;
    width: 100%;
    object-fit: cover;
  }
  & .fa-chevron-left,
  .fa-chevron-right {
    cursor: pointer;
    position: absolute;
    height: 79.2px;
    width: 46.68px;
  }
  & .fa-chevron-left {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 23px;
  }
  & .fa-chevron-right {
    top: 0;
    bottom: 0;
    margin: auto;
    right: 23px;
  }
  & .numberPicture {
    position: absolute;
    color: $color-text;
    font-size: 18px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  & .hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  .carouselContainer {
    width: auto;
    height: 255px;
    & .pictureCarousel {
      height: 255px;
    }
    & .fa-chevron-left,
    .fa-chevron-right {
      height: 24px;
      width: 24px;
    }
    & .fa-chevron-left {
      left: 0;
    }
    & .fa-chevron-right {
      right: 0;
    }
    & .numberPicture {
      display: none;
    }
  }
}
