@import "../../assets/style/index.scss";

.bannerContainer {
  position: relative;
  height: 223px;
  width: 100%;
  max-width: 1240px;
  & img {
    border-radius: 25px;
    height: 223px;
    width: 100%;
    object-fit: cover;
  }
  .titleBanner {
    @include display-style();
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    & h1 {
      font-size: 48px;
      color: $color-text;
      padding-left: 16px;
    }
  }
}

@media (max-width: 768px) {
  .bannerContainer {
    & img,
    .titleBanner {
      border-radius: 10px;
    }
  }
}
