@import "../../assets/style/index.scss";

.errorContainer {
  flex: 1;
  @include display-style();
  flex-direction: column;
  color: $color-principale;
  gap: 139px;
  margin: 139px 0;
  .title {
    @include display-style();
    height: 263px;
    & h1 {
      font-size: 288px;
      font-weight: 700;
    }
  }
  p {
    text-align: center;
    font-size: 36px;
  }
  a {
    color: $color-principale;
    font-size: 18px;
    text-decoration-line: underline;
  }
}

@media (max-width: 768px) {
  .errorContainer {
    gap: 113px;
    margin-top: 113px;
    max-width: 335px;
    .title {
      height: 99px;
      h1 {
        font-size: 96px;
      }
    }
    p {
      font-size: 18px;
    }
    a {
      font-size: 14px;
    }
  }
}
